/* IMPORT SHARED
   ----------------------------- */
/* IMPORT BASE
      ----------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  margin: 5px;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.8;
  color: #777777;
  background-color: #fff;
  overflow-x: hidden; }

/* IMPORT COMPONENTS
      ----------------------------- */
.btn {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px; }
  .btn--primary {
    background-color: #ff0000;
    color: #fff; }
    .btn--primary:hover {
      background-color: #ccc; }
      .btn--primary:hover .item-link {
        color: #000; }

.headline.headline-lg {
  font-size: 24px; }

.headline.headline-xlg {
  font-size: 36px; }

.headline.headline-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.headline.heading {
  background-color: #000;
  padding: 8px 24px;
  letter-spacing: 10px;
  color: #fff; }

.contaniner {
  max-width: 100%;
  margin: 0 auto;
  width: 980px;
  padding: 0 16px; }

.card {
  width: 30%;
  border: 1px solid #000000;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }
  .card__img {
    width: 100%;
    background-position: center;
    background-size: cover; }
  .card__body {
    padding: 5px 20px 20px 20px; }
  .card__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px; }
  .card__text {
    margin-bottom: 18px;
    line-height: 1.5; }
