/* IMPORT SHARED
   ----------------------------- */
/* IMPORT BASE
      ----------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  margin: 5px;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.8;
  color: #777777;
  background-color: #fff;
  overflow-x: hidden; }

/* IMPORT COMPONENTS
      ----------------------------- */
.btn {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer; }
  .btn.btn-hamburger {
    background-color: transparent;
    padding: 13.5px 16px;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0; }
    .btn.btn-hamburger.open {
      background-color: #000; }
      .btn.btn-hamburger.open .line:nth-child(1) {
        -webkit-transform: translateY(7px) rotate(45deg);
        -ms-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
        background-color: #fff; }
      .btn.btn-hamburger.open .line:nth-child(2) {
        opacity: 0; }
      .btn.btn-hamburger.open .line:nth-child(3) {
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
        background-color: #fff; }
    .btn.btn-hamburger .line {
      background-color: #000;
      width: 20px;
      height: 2px;
      display: block;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .btn.btn-hamburger .line:not(:first-child) {
        margin-top: 5px; }
  .btn.btn-menu {
    background-color: #fff;
    color: #777777; }
    .btn.btn-menu:hover {
      background-color: #ccc; }
      .btn.btn-menu:hover .item-link {
        color: #000; }
  .btn.btn-search {
    background-color: #fff;
    color: #777777;
    padding: 8px 16px; }
    .btn.btn-search:hover {
      background-color: #ff0000;
      color: #fff; }

.headline.headline-lg {
  font-size: 24px; }

.headline.headline-xlg {
  font-size: 36px; }

.headline.headline-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.headline.heading {
  background-color: #000;
  padding: 8px 24px;
  letter-spacing: 10px;
  color: #fff; }

.contaniner {
  max-width: 100%;
  margin: 0 auto;
  width: 980px;
  padding: 0 16px; }

.alert {
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 20px; }
  .alert--success {
    background-color: green;
    color: #000000; }
  .alert--danger {
    background-color: red;
    color: white; }
  .alert--warning {
    background-color: yellow;
    color: #000000; }
