.btn {
  transition: all 0.3s;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;

  &--primary {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $middle-grey;
      .item-link {
        color: $black;
      }
    }
  }

}
