$light-grey: #777777;
$middle-grey: #ccc;
$dark-grey: #616161;
$black: #000;
$white: #fff;
$red: #ff0000;

$body-font-family: "Lato", sans-serif;
$body-font-size: 15px;
$body-font-weight: 400;
$body-line-height: 1.8;
// $body-spacing: .04rem;
$body-font-color: $light-grey;
